
.button {
    --main-color: var(--primary);
    background-color: var(--main-color);
    position: relative;
    margin-top: 8px;
    width: 120px;
    height: 65px;
    border-radius: calc(1 * var(--vh, 1vh));

    cursor: pointer;
    transform-origin: bottom;
    user-select: none;
    box-shadow: 0 0.4vh 0 #00000020;
}

.button::before {
    --secondary-color: color-mix(in srgb, var(--main-color) 100%, #fff 25%);
    transition: all 0.1s ease-in-out;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    background: var(--secondary-color);
    border-radius: inherit;
    z-index: 0;
    display: block;
    margin: 0;
}

.button:active {
    --scales-x: 1.1;
    --scales-y: 0.9;
    transform: scale(var(--scales-x), var(--scales-y));
    transition-delay: 0s;
    transition-duration: 0.1s;
}

.button:active::before {
    bottom: 0;
    /*transition-duration: 0.05s;*/
}

.button[disabled] {
    pointer-events: none;
    filter: contrast(0.5) saturate(0.5);
    opacity: 0.5;
}

.button span, .button p {
    display: block;
    font-size: 1.3em;
    position: relative;
    color: white;
    z-index: 1;
}

.button:active span, .button:active p {
    transform: scale(calc(1.4 / var(--scales-x)), calc(1.4 / var(--scales-y)));
}

.shiny {
    composes: button;
    --btn-bg-color: #5e5e5e;
    --tertiary-color:  color-mix(in srgb, var(--main-color) 100%, #000 80%);
    background: var(--tertiary-color);
}

.shiny::before {
    --outer-color: var(--main-color);
    --inner-color: var(--secondary-color);
    --start-p: 32%;
    --end-p: calc(var(--start-p) + 23%);
    bottom: 20%;
    background:
            linear-gradient(
                    65deg,
                    var(--outer-color) var(--start-p),
                        /*rgba(255, 63, 20, 0.5) var(--start-p),*/
                    var(--inner-color) var(--start-p),
                    var(--inner-color) var(--end-p),
                    var(--outer-color) var(--end-p)),
            var(--outer-color)

            no-repeat;
}
