
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overscroll-behavior-y: none;
    border-radius: 15px;
    width: 450px;
    height: 95dvh;
    overflow: scroll;

    transition: all 0.2s linear;
}

.gameViewport {
    display: flex;
    flex: 4 4 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.labels {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*@media screen and (width >= 1024px) {*/
/*    .container {*/
/*        !*height: 740px;*!*/
/*        width: 450px;*/
/*    }*/
/*}*/
/*@media screen and (width <= 1024px) {*/
/*    .container {*/
/*        width: 100dvw;*/
/*        border-radius: 0;*/
/*    }*/
/*}*/

/*@media screen and (height <= 1024px) {*/
/*    .container {*/
/*        height: 95dvh;*/
/*        border-radius: 0;*/
/*    }*/
/*}*/

.container canvas {
    background-color: var(--background-primary);
    border: 10px solid var(--background-secondary);
    border-radius: 8px;
}

.colsXrows {
    padding-top: 8px;
    color: var(--text-light);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 1));
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 16px;
    transition: all 1s ease;
    flex: 1 1 auto;
}

@keyframes toMiddle {
    0% {
        position: relative;
        top: unset;
        left: unset;
        transform: translate(0, 0);
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.buttons.next {
    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    animation: toMiddle 2s forwards;
}

.buttons.next .playButtonSmall {
    pointer-events: none;
    opacity: 0;
}


.playButton {
    --btn-bg-color: #681300;
    --outer-color: #D72700;
    --inner-color: #FF3F147f;
    composes: shinyAppButton from 'app.module.css';
}
.playButton::before {
    --outer-color: #D72700;
    --inner-color: #FF3F147f;
}

.playButtonSmall {
    composes: playButton;
    width: 80px
}

.container canvas {
    /*width: 100%;*/
    /*height: 100%;*/
}

