
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary);

    /*width: 50vh;*/
    /*height: 50vh;*/
    border-radius: 15px;
    /*height: 100vh;*/
    /*width: 100vw;*/
    /*min-height: 400px;*/
    /*min-width: 600px;*/
    height: 700px;
    width: 350px;
}

/*.container canvas {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

